/* Remove Mantine Tabs bottom border */
.mantine-Tabs-list {
    border-bottom: none !important;
  }
  
  /* Remove active tab default blue border and shadow */
  .mantine-Tabs-tab[data-active="true"] {
    border: none !important;
    box-shadow: none !important;
  }
  
  .mantine-Tabs-list::before{
    border: none !important;
  }

  button.mantine-focus-auto{
    border: none !important;
  }

  .no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
